cloud_id                 = "00000"
folder_id                = "00000"
zone                     = "ru-central1-a"
image_id                 = "00000"
public_key_path          = "~/.ssh/appuser.pub"
private_key              = "~/.ssh/appuser"
subnet_id                = "00000"
service_account_key_file = "key.json"
app_disk_image           = "00000"
db_disk_image            = "00000"
